.homepage-strip {
    height: auto; 
    width: 100%; 
    font-family: sans-serif; 
    position: relative;
}

.homepage-banner {
    height: 153px; 
    color: #ffffff; 
    background-color: #00455d; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    padding-bottom: 30px; 
    box-sizing: border-box; 
    
    h1 {
        font-size: 34px; 
        font-weight: bold; 
    }

    p {
        color: #ccccdd; 
        margin-top: 10px; 
        font-size: 16px; 
    }
}


.homepage-search-strip {
    width: 100%; 
    top: 125px; 
    height: 69px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 2; 
    font-size: 16px; 
    position: absolute; 
}

.homepage-search-filter {
    background-color: #0f1721;
    color: #ffffff; 
    min-width: 900px; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.homepage-search-bar {
    display: flex; 
    align-items: center; 
    flex-direction: row; 

    p {
        margin-left: 5px; 
    }
}

.homepage-search-input {
    background-color: #ffffff; 
    color: #353e48; 
    height: 27px; 
    width: 280px; 
    margin: 0 3px; 
    border-radius: 3px; 
    padding: 8px;
    border: 1px solid #000; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 10px; 
}

.homepage-filter-tabs {
    color: #ffffff;
    padding: 12px; 
    display: flex; 
    flex-direction: row; 
}

.homepage-group-button {
    color: white; 
    background: rgba(255,255,255,.2); 
    font-size: 16px; 
    font-weight: 600; 
    padding: 0px 16px;
    box-sizing: border-box; 
    border-radius: 3px; 
    width: auto; 
    height: 43px; 
    text-decoration: none; 
}

.homepage-main {
    height: auto; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 60px; 

    .homepage-buffer {
        width: 930px; 
        padding-left: 15px; 
        box-sizing: border-box; 
        
        h1 {
            font-size: 18px; 
            font-weight: 600; 
            margin-bottom: 20px; 
        }
    }

}

.homepage-groups-index { 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    align-items: center; 
    border-radius: 3px; 
}

.homepage-calendar {

}