.group-single-item {
    height: 250px; 
    width: 300px; 
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-position: center 40%; 
    background-size: cover; 
    margin-right: 20px; 
    margin-bottom: 20px; 
    background-image: image-url('mochi.jpg');
    color: #ffffff; 
    font-size: 20px; 
    font-weight: 600; 
}

