.eg-main-strip {
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%; 
    width: 100%; 
}

.eg-banner {
    background-color: #F64060; 
    border-radius: 3px; 
    height: 124px; 
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center; 

    .eg-banner-text {
        color: white; 
        font-size: 42px; 
        font-weight: 600; 
    }
}

.eg-form-strip {
    width: 80%; 
    border: 1px solid rgba(0,0,0,.12);
}

.eg-form {

}

.eg-inputs {

    .eg-input-header {
        background-color: #fafafa; 
        font-size: 24px; 
        font-weight: 600; 
        padding: 10px; 
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

    .eg-input {
        padding: 10px; 

        h3 {
            font-size: 20px; 
            margin: 10px 0px; 
        }

        p {
            color: rgba(0,0,0,.54); 
            margin-bottom: 10px; 
            font-size: 16px; 
        }

        .eg-input-field {
            width: 80%; 
            padding: 8px;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            background-color: #fafafa;
            color: rgba(0,0,0,.87);
            font-size: 16px;
        }

        .eg-input-textarea {
            height: 100px; 
            width: 80%; 
            padding: 8px;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            background-color: #fafafa;
            color: rgba(0,0,0,.87);
            font-size: 16px;
        }

        .eg-input-zipcode {
            width: 100px; 
            padding: 8px;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            background-color: #fafafa;
            color: rgba(0,0,0,.87);
            font-size: 16px; 
        }

        .eg-rules {
            list-style-type: disc; 
            list-style-position: outside; 
            font-weight: 500; 
            font-size: 16px; 
            line-height: 1.45;
            padding-left: 1.33em; 
        }

        .eg-submit {
            color: #ffffff;
            background-color: #f14b67;
            border-color: #ed1c40;
            font-size: 16px;
            font-weight: 600; 
            font-family: sans-serif;
            margin: 10px; 
            padding: 8px 16px;
            border-radius: 3px;
        
            &:hover {
                background: #e22e4c;
            }
        }
    }
}


