.group-show-strip {
    font-family: sans-serif; 
    background-color: #ffffff; 
    color: #2e3e48; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid rgba(25, 33, 38, 0.12);
}

.group-top {
    background-color: #ffffff; 
    width: 100%; 
    display: flex;  
    justify-content: center; 
    flex-direction: row; 
    padding: 20px 0px; 
    border-bottom: 1px solid rgba(25, 33, 38, 0.12);
}

.group-buffer {
    width: 90%; 
    min-width: 600px;
    max-width: 1000px; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 

    .group-photo-box {
        position: relative;

        .group-add-photo {
            position: absolute;
            left: 40px; 
            top: 30px; 

            .group-add-photo:hover label input {
                cursor: pointer;
            }

            label {
                position: relative;
                background-color: white; 
                color: #00a2c7;  
                padding: 10px; 
                border-radius: 3px; 
                width: 100px; 
                cursor: pointer;
                font-weight: 600px;
                
                label:hover {
                    cursor: pointer;
                }

                input {
                    position: absolute; 
                    top: 0px; 
                    left: 0px; 
                    width: 100%;
                    min-height: 100%; 
                    color: red;
                    opacity: 0; 
                    cursor: inherit;
                    overflow: hidden;
                    // z-index: -1; 
                }

                .group-photo-input:hover {
                    cursor: pointer;
                }
            }

            
        }
    }
}

.group-pic {
    width: 600px;
    height: 340px; 
    border-radius: 15px; 
    margin: 20px; 
    object-fit: cover; 
    margin: 0px 20px; 
}

.group-info {
    padding-left: 24px; 
    font-weight: 600; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    line-height: 1.45; 
    
    h1 {
        font-size: 34px; 
        margin-bottom: 28px; 
    }
    
    div {
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        height: 43px; 
        
        i {
            display: flex; 
        }
        
        p {
            font-size: 15px; 
            font-weight: 400; 
            margin-left: 10px; 
        }
    }
}

.group-mid {
    color: #2e3e48; 
    font-family: sans-serif; 
    min-height: 66px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    align-items: center; 
    margin-left: 30px; 

    .group-buffer {
        align-items: center; 
    }

}

.group-tabs {
    height: 100%; 
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
    font-size: 16px; 
    font-weight: 600; 
}

.group-tab {
    padding-right: 40px; 

        &:hover {
            color: #00a2c7
        }
}


.dropdown-button {
    color: white; 
    background: #f14b67;
    font-size: 16px; 
    font-weight: 600; 
    padding: 0px 16px;
    box-sizing: border-box; 
    border-radius: 3px; 
    min-width: 184px; 
    min-height: 36px; 
    text-decoration: none; 
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    
    &:hover {
        background: #e22e4c;
    }
}

.dropdown-content {
    position: absolute; 
    z-index: 1; 
    top: 36px; 
    right: 0px; 
    min-width: 184px; 
    min-height: 36px;
    background-color: white; 
}

.group-button {
    color: white; 
    background: #f14b67;
    font-size: 16px; 
    font-weight: 600; 
    padding: 0px 16px;
    box-sizing: border-box; 
    border-radius: 3px;  
    min-width: 184px; 
    min-height: 36px; 
    text-decoration: none; 
    display: flex; 
    align-items: center;

    &:hover {
        background: #e22e4c;
    }
}

.group-bottom {
    background-color: #fafafa; 
    border-top: 1px solid rgba(25, 33, 38, 0.12);
    height: auto; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    padding-top: 40px; 
    padding-bottom: 30px; 
    
    .left-content {
        margin-left: 15px; 
    }

    h1 {
        font-size: 20px; 
        font-weight: 600; 
        margin-bottom: 30px; 
    }
}

.group-bottom-left {
    margin-right: 20px; 
    width: 60%; 
    display: flex; 
    flex-direction: column; 
}

.group-bottom-right {
    margin-left: 20px; 
}

.organizer-icon {
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.member-icon {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    flex-direction: row; 
    min-height: 50px; 
    width: 180px; 
    border-radius: 50%; 
    margin-bottom: 30px; 
}

.group-organizer-details {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-content: center; 
    margin-bottom: 30px; 

    h2 {
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}


