.group-show-strip {
    font-family: sans-serif; 
    background-color: #ffffff; 
    color: #2e3e48; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid rgba(25, 33, 38, 0.12);
}

.group-buffer {
    width: 90%; 
    min-width: 600px;
    max-width: 1000px; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
}

.group-top {
    background-color: #ffffff; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    padding: 20px 0px; 
    border-bottom: 1px solid rgba(25, 33, 38, 0.12);
}

.group-pic {
    max-width: 600px;
    height: 340px; 
    border-radius: 15px; 
    margin: 20px; 
    background-position: center 40%; 
    background-size: cover; 
    background-image: image_url('mochi.jpg');
    margin: 0px 20px; 
}

.group-info {
    padding-left: 24px; 
    font-weight: 600; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    line-height: 1.45; 
    
    h1 {
        font-size: 34px; 
        margin-bottom: 28px; 
    }
    
    div {
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        margin-bottom: 10px; 
        
        i {
            display: flex; 
        }
        
        p {
            font-size: 15px; 
            font-weight: 400; 
            margin-left: 10px; 
        }
    }
}

.group-mid {
    color: #2e3e48; 
    font-family: sans-serif; 
    height: 66px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    align-items: center; 
    margin-left: 30px; 

    .group-buffer {
        align-items: center; 
    }

}

.group-tabs {
    height: 100%; 
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
    font-size: 16px; 
    font-weight: 600; 
}

.group-item {
    padding-right: 40px; 

        &:hover {
            color: #00a2c7
        }
}

.group-button {
    color: white; 
    background: #f14b67;
    font-size: 16px; 
    font-weight: 600; 
    padding: 0px 16px;
    box-sizing: border-box; 
    border-radius: 3px; 
    width: auto; 
    min-height: 36px; 
    text-decoration: none; 

    &:hover {
        background: #e22e4c;
    }
}

.group-link {
    color: white; 
    background: #f14b67;
    font-size: 16px; 
    font-weight: 600; 
    padding: 0px 16px;
    box-sizing: border-box; 
    border-radius: 3px; 
    width: auto; 
    min-height: 36px; 
    text-decoration: none; 
    display: flex; 
    align-items: center;

    &:hover {
        background: #e22e4c;
    }
}

.group-bottom {
    background-color: #fafafa; 
    border-top: 1px solid rgba(25, 33, 38, 0.12);
    height: auto; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    padding-top: 40px; 
    padding-bottom: 30px; 
    
    .left-content {
        margin-left: 15px; 
    }

    h1 {
        font-size: 20px; 
        font-weight: 600; 
        margin-bottom: 30px; 
    }
}

.group-bottom-left {
    margin-right: 20px; 
    width: 60%; 
    display: flex; 
    flex-direction: column; 

}

.group-bottom-right {
    margin-left: 20px; 
}

.organizer-icon {
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    margin-bottom: 30px; 
    margin-right: 10px; 
}

.member-icon {
    display: flex; 
    flex-direction: row; 
    min-height: 50px; 
    min-width: 50px; 
    border-radius: 50%; 
    margin-bottom: 30px; 
}

.group-organizer {

}

.group-members {

}

