.group-single-item {
    height: 180px; 
    width: 300px; 
    margin-right: 20px; 
    margin-bottom: 20px; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: 600; 
    position: relative; 
    
    img {
        height: 180px; 
        width: 300px; 
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 3px; 
        object-fit: cover; 
    }

    .group-item-transparency {

        z-index: 1;
        position: absolute; 
        margin: 0px; 
        height: 180px; 
        width: 300px;
        display: flex;
        justify-content: center; 
        align-items: flex-end;
        top: 0px; 
        padding: 16px; 
        box-sizing: border-box; 
        background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%);

        h2 {
            text-align: center; 
            top: 90px; 
        }
    }

}


