.group-show-strip {
    background-color: #ffffff; 
    height: 500px; 
    width: 100%; 
}

.group-top {
    background-color: #ffffff; 
    height: 500px; 
    width: 100%; 
}

.group-pic {
    background-color: #ffffff; 
    height: 500px; 
    width: 100%; 
}

.group-info {

}



.group-mid {

}

.group-tabs {

}

.group-bottom {

}