.ce-strip {
    height: 500px; 
    width: 100%; 
    background-color: #fafafa; 
}

.ce-main {
    height: 100%;
    margin: 0px 20px; 
}

.ce-form {
    
}

.ce-left {

    h1 {

    }

    p {
        margin-bottom: 20px; 
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
}

.ce-right {

}

.ce-footer {

}