.ce-strip {
    height: 500px; 
    width: 100%; 
    background-color: #fafafa; 
}

.ce-form-strip {
    font-family: sans-serif; 
    color: #2e3e48; 
    height: 100%;
    margin: 0px 20px; 
}

.ce-form {

    .ce-left {

        .ce-header {

            h1 {
                font-size: 30px; 
                font-weight: 600; 
                padding-top: 40px;
                line-height: 1.4;  
            }

            p {
                font-size: 16px; 
                margin-bottom: 20px; 
            }

            border-bottom: 1px solid rgba(0,0,0,.12);
        }

        .ce-input {

            max-width: 600px;  
            margin-top: 40px; 

            h1 {
                font-size: 16px; 
                font-weight: 600; 
                line-height: 1.5;
            }
            .ce-input-box {
                width: 100%; 
                padding: 16px; 
                border: 1px solid #a2a2a2;
                border-radius: 3px; 
                background-color: white; 
            }
        }
    }

    .ce-right {

    }

    .ce-footer {

    }
} 