.event-index-container {
    min-height: auto; 
    width: 900px; 
    display: flex;
    flex-direction: row;
    padding-bottom: 40px; 

    .event-index-left {
        min-width: 590px;
        padding-right: 15px;

        .event-index-date {
            font-size: 16px; 
            font-weight: 600; 
            padding-left: 16px; 
            margin-bottom: 20px; 
        }
    }

    .event-index-right {

        width: 295px; 
        padding-top: 38px; 

        .event-index-calendar {
            border: 1px solid rgba(0,0,0,.12);
            border-radius: 3px;
            font-size: 9px;
        }
    }

}

.event-index-strip { 
    height: 500px; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    border-radius: 3px; 
}