.footer-strip {
    background-color: #353e48; 
    color: #FFFFFF; 
    height: 300px; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

.footer-content {
    width: 80%; 
}

.footer-top {
    display: flex;
    justify-content: space-between; 
    flex-direction: row; 
    align-items: center; 
    height: 75px; 
    width: 100%; 
    font-family: sans-serif;
    font-size: 20px; 
    // font-weight: bold; 
}

.footer-group-create {
    padding-left: 20px; 

    &:hover {
        color: #00a2c7
    }
}

.footer-auth {
    display: flex; 
    justify-content: space-evenly; 
}

.footer-login {
    padding-left: 20px; 
    padding-right: 20px; 

    &:hover {
        color: #00a2c7
    }
}

.footer-signup {
    padding-right: 20px; 

    &:hover {
        color: #00a2c7
    }
}

.footer-logout {
    padding-left: 20px; 
    padding-right: 20px; 

    &:hover {
        color: #00a2c7
    }
}

.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 125px; 
    width: 100%; 
    font-size: 20px; 
    font-weight: bold; 
    border-top: 1px solid rgba(255,255,255,0.12); 

}

.footer-links:hover {
    color: #00a2c7; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.footer-middle a {
    margin-right: 30px; 
}

.footer-bottom {
    background-color: #2f363f; 
    height: 100px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}



